<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title> About - Food on Wheels </title>

	<link rel="shortcut icon" href="static/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="static/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="static/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="THESIS ARCHIVE"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="index.html">Home</a></li>
					<li><a href="contact.html">Register</a></li>
					<li><a href="sigin.html">Log In</a></li>
					<li class="active"><a href="about.html">About</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">About</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<center><h1 class="page-title">About the Thesis Archive</h1></center>
				</header>
				</br>
				</br>
				<center><h3>Vision</h3></center></br>
				<p>Our vision is to create an easy, convenient, and "uber-like" food delivery app that allows the community to search of various restaurants and choose their food to be delivered</p>
                    </br>
                    <div class="panel panel-primary">
                        <div class="panel-body" style="background-color:maroon"><font color="white">Mission</font></div>
                    </div>
                    </br>
                    <p>Our mission is to assist the food business owner to expose and advertise their establishments and to promote their newly created products. To ease the problems of the busy community by delivering their food right at their doorstep.</p>

			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					<div class="col-md-3 widget">
						<h3 class="widget-title">Seal of Excellence</h3>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<div class="directory-homepage">
								<div id="seal-excellence">
								<a href="/index."><img class="img-responsive msuiit-logo" src="/static/images/msuiit-logo-275x280.png" alt="MSU-IIT Seal of Excellence" pagespeed_url_hash="2800033035" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"/></a>

								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>Telephone: +63 (063) 437 6980<br>
								<a href="mailto:#">foodonwheelsteam@g.msuiit.edu.ph</a><br>
								<br>
								Andres Bonifacio Avenue, Tibanga,</br>
								9200 Iligan City, Philippines</br>
							</p>	
						</div>
					</div>
					<div class="col-md-6 widget">
						<h4 class="widget-title">Follow Me</h4>
						<div class="widget-body">
							<p class="follow-me-icons clearfix">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="index.html">Home</a> | 
								<a href="about.html">About</a> |
								<a href="registeruser.html">Register</a> |
								<a href="/api/loginuser.html">Login</a> |
								<b><a href="signup.html">Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Your name. Designed by <a href="http://gettemplate.com/" rel="designer">foodonwheelsteam</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>